{% extends 'base.html' %} {% block content %}

<h1 class='text-center'>{{people.username}}'s profile</h1>
<div class="jumbotron jumbotron-fluid text-center mb-2">
  <div class="container">
    <h1 class="display-4">{{people.profile.nickname}}</h1>
    <p class="lead">{{people.profile.introduction}}</p>
    
    <p>팔로잉: {{ people.followings.all.count }}</p>
    <p>팔로워: {{ people.followers.all.count }}</p>
  </div>
</div>
{% if request.user == people %}
<div>
<a href="{% url 'accounts:update' %}" class="btn btn-outline-secondary">회원정보 수정하기</a>
<a href="{% url 'accounts:profile_update' %}" class="btn btn-outline-secondary">프로필 작성 및 수정하기</a>
<form action="{% url 'accounts:delete' %}" method="POST" class="d-inline">
    {% csrf_token %}
    <button  class="btn btn-outline-secondary" type="submit" value="Submit">회원 탈퇴하기</button>
</form>
{% endif %}

{% if request.user != people %}
    {% if user in people.followers.all %}
    <a href="{% url 'accounts:follow' people.pk %}" class="btn btn-outline-secondary">Unfollow</a>
    {% else %}
    <a href="{% url 'accounts:follow' people.pk %}" class="btn btn-secondary">follow</a>
    {% endif %}
{% endif %}



</div>
<hr>
<h3 class='text-center'>{{people.username}}이 작성한 게시글</h3>
<div class="row">
    {% for post in people.post_set.all %}
    <div class="col-4 my2">
        <div class="card">
            <img src="{{ post.image_set.first.file.url }}" class="card-img-top" alt="{{ post.image_set.first.file }}">
            <div class="card-body">
                <h5 class="card-title">{{post.content}}</h5>
                <p class="card-text">{{ post.like_users.count }}개의 좋아요</p>
                <p class="card-text">{{ post.comment_set.count }}개의 댓글</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr>

<h3 class="text-center">내가 작성한 댓글</h3>
<div class="row">
    {% for comment in people.comment_set.all|dictsortreversed:"pk" %}
    <div class="col-12 my-2">
        <div class="card">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p class="mb-0">{{ comment.post }}</p>
                    <footer class="blockquote-footer">{{ comment.content }}</footer>
                </blockquote>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
