{% extends 'base.html' %} {% block content %}

<h1 class='text-center'>{{people.username}}'s profile</h1>
<h3 class='text-center'>{{people.username}}이 작성한 게시글</h3>
<div class="row">
    {% for post in people.post_set.all %}
    <div class="col-4 my2">
        <div class="card">
            <img src="{{ post.image_set.first.file.url }}" class="card-img-top" alt="{{ post.image_set.first.file }}">
            <div class="card-body">
                <h5 class="card-title">{{post.content}}</h5>
                <p class="card-text">{{ post.like_users.count }}개의 좋아요</p>
                <p class="card-text">{{ post.comment_set.count }}개의 댓글</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr>

<h3 class='text-center'> {{people.username}}이 작성한 댓글</h3>
<div class="row">
    {% for comment in people.comment_set.all %}
    <div class="card">
        <blockquote class="blockquote">
            <p class="mb-0">{{ comment.post.content }}</p>
            <footer class="blockquote-footer">{{ comment.content }}</footer>
        </blockquote>
    </div>
    {% endfor %}
</div>



{% endblock %}
