{% extends "base.html"  %}

{% load bootstrap4 %}

{% block content %}
{% if request.resolver_match.url_name == 'create' %}
<h1>NEW</h1>
<form action="{% url 'posts:create' %}" method="POST" enctype="multipart/form-data">
{% else %}

<h1>EDIT</h1>
<form action="{% url 'posts:update' post.pk %}" method="POST">
{% endif %}
    {% csrf_token %}
    {% bootstrap_form post_form %}
    
    {% if image_form %}
        {% bootstrap_form image_form show_label=False %}
    {% endif %}

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-outline-primary">Cancel</button>
    <a href="{% url 'posts:list' %}"  class="btn btn-info ">BACK</a>
</form>

{% endblock %}